*{
    padding: 0;
    margin: 0;
    font-family: comfortaa;
}

#Banner {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0,0,0, 0.75), rgba(0,0,0, 0.75)), url(../img/bg1.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    position: fixed;
    display: flex; 
    width: 100%;
    margin: 0;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between; 
    background-color: aliceblue; 
    z-index: 100;
}


.navbar::after{
    content: '';
    height: 0%;
    width: 100%;
    background-color: #9bbaed;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: height 0.5s ease-in-out;
    z-index: -1; 
}

.navbar:hover::after{
    height: 100%;
}

.navbar ul{
    display: flex; 
    margin-right: 20px; 
}

.navbar ul li{
    list-style: none;
    margin: 0 10px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    font-size: larger;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background-color: #76388D;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.navbar img {
    height: 50px;
    width: 230px;
    margin-left: 20px;
}

.horizontal-line {
    border-top: 2px solid #3EB073;
    width: 120%;
    position: relative;

}

.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;

}

.image img{
    position: relative;
    height: 51%;
    width: 56%;
    top: 50%;
    left: 27%;
    cursor: pointer;
  
}

button{
    width: 100px;
    height: 100px;
    padding: 15px 0;
    margin: 20px 10px;
    border-radius: 50%;
    font-weight: bold;
    border: 2px solid #009680;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    top: 20%;
    left: -33%;
  
}

span{
    border-radius: 25px;
    background: #009680;
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}

.tools {
    position: relative;
}

.tools img{
    position: relative;
    height: 10%;
    width: 10%;
}
